header {
  width: 100%;
  height: 13vh;

  position: fixed;

  display: flex;
  align-items: center;
  justify-content: space-around;

  background: #32383D;

  padding-block: 4rem;
}

header h1 {
  font-size: 2.4rem;
}

.info {
  display: flex;
  justify-content: center;
  
  height: 87vh;
}

.info-container {
  display: flex;
  align-items: center;
  gap: 6rem;

  padding: 2.4rem 4rem;
}

.info-container div {
  display: flex;
  flex-direction: column;
}

.info-container div h2 {
  font-size: 3.4rem;
}

.info-container div h3 {
  font-size: 3rem;
}

.info img {
  width: 25rem;
}

.nav-list {
  list-style-type: none;

  display: flex;
}

.nav-list li {
  padding-inline: 1.6rem;
}


header .nav-list li a {
  position: relative;
  
  color: #FFF;
  
  font-size:  1.8rem;
  
  transition: opacity 0.3s;
  
  padding-block: 1rem;
}

a::after {
  content: '';
  position: absolute;
  bottom: -.2rem;
  height: .4rem;
  width: 100%;
  left: 0;
  background-color: #FFF;
  transition: 0.3s;
  transition-timing-function: ease-in-out;
  transform: scale(0);
}

a:hover::after {
  transform: scale(1);
  opacity: 0.7;
}

a:hover {
  opacity: 0.7;
}